{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <style>
        .bootstrap-select .btn.btn-default{
            background: rgb(255, 255, 255);
            padding: 10px 12px;
        }
        .bootstrap-select .dropdown-toggle:focus{
            outline: none !important;
        }
        
    </style>
    <!-- Row -->
    {% if awarded_bids %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pt-0">
                        <h4 class="txt-dark flex flex-middle capitalize-font">Awarded Loans</h4>
                        <hr class="light-grey-hr"/>
                        
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive mt-5 mb-15">
                                    <table id="dataTableAward" class="table display table-hover mb-30" style="max-width: 1400px;">
                                        <thead>
                                            <tr>
                                                <th width="3%">No</th>
                                                <th width="14%">Purpose</th>
                                                <th width="24%">Description</th>
                                                <th width="7%">Loan Amount</th>
                                                <th width="7%">Loan Term</th>
                                                <th width="7%">Currency</th>
                                                <th width="7%">Income Amount</th>
                                                <th width="7%">City</th>
                                                <th width="9%">Created At</th>
                                                <th width="10%">Awarded At</th>
                                                <th width="6%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in awarded_bids %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>
                                                        {{ item.loan.purpose }}
                                                    </td>
                                                    <td>
                                                        {% if item.loan.header|length > 100 %}
                                                            {{ item.loan.header|slice:"0:100"|linebreaksbr }}... 
                                                        {% else %}
                                                            {{ item.loan.header|linebreaksbr }}
                                                        {% endif %}
                                                    </td>
                                                    
                                                    <td>{{ item.loan.loan_amount|intcomma }}</td>
                                                    <td>{{ item.loan.loan_term }}</td>
                                                    <td>{{ item.loan.currency }}</td>
                                                    <td>{{ item.loan.income_amount|default_if_none:''|intcomma }}</td>
                                                    <td>{{ item.loan.city }}</td>
                                                    <td>{{ item.loan.created_at|date:'Y-m-d' }}</td>
                                                    <td>{{ item.awarded_at|date:'Y-m-d' }}</td>
                                                    <td>
                                                        <a href="{% url 'detail-loan' item.loan.id %}" class="btn btn-success btn-xs btn-rounded" style="line-height: 1.2;">
                                                            {% if item.loan.status == 4 %}
                                                                Completed
                                                            {% else %}
                                                                Waiting <br>Acceptance...
                                                            {% endif %}
                                                        </a>
                                                        
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /Row -->
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pt-0">
                        <div class="tab-struct custom-tab-1">
                            <ul role="tablist" class="nav nav-tabs">
                                <li class="active" role="presentation">
                                    <a aria-expanded="true" data-toggle="tab" role="tab" href="#tab_active">
                                        <h5 class="txt-dark flex flex-middle capitalize-font">Open Loans</h5>
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a aria-expanded="false" data-toggle="tab" role="tab" href="#tab_myall">
                                        <h5 class="txt-dark flex flex-middle capitalize-font">My Awards</h5>
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a aria-expanded="false" data-toggle="tab" role="tab" href="#tab_all">
                                        <h5 class="txt-dark flex flex-middle capitalize-font">All Loans</h5>
                                    </a>
                                </li>
                                
                            </ul>
                            <div class="tab-content">
                                <div id="tab_active" class="tab-pane fade active in" role="tabpanel">
                                    <div class="table-responsive mt-15 mb-15">
                                        <table id="dataTable1" class="table display table-hover mb-30">
                                            <thead>
                                                <tr>
                                                    <th width="3%">No</th>
                                                    <th width="15%">Purpose</th>
                                                    <th width="25%">Description</th>
                                                    <th width="8%">Loan Amount</th>
                                                    <th width="8%">Loan Term</th>
                                                    <th width="8%">Currency</th>
                                                    <th width="8%">Income Amount</th>
                                                    <th width="8%">City</th>
                                                    <th width="10%">Created At</th>
                                                    <th width="8%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in loans %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ item.purpose }}</td>
                                                        <td>
                                                            {% if item.header|length > 100 %}
                                                                {{ item.header|slice:"0:100"|linebreaksbr }}... 
                                                            {% else %}
                                                                {{ item.header|linebreaksbr }}
                                                            {% endif %}
                                                        </td>
                                                        
                                                        <td>{{ item.loan_amount|intcomma }}</td>
                                                        <td>{{ item.loan_term }}</td>
                                                        <td>{{ item.currency }}</td>
                                                        <td>{{ item.income_amount|default_if_none:''|intcomma }}</td>
                                                        <td>{{ item.city }}</td>
                                                        <td>{{ item.created_at|date:'Y-m-d' }}</td>
                                                        <td>
                                                            <a href="{% url 'detail-loan' item.id %}" class="btn btn-success btn-xs btn-rounded">
                                                                {% if item.loan.status == 4 %}
                                                                    Completed
                                                                {% else %}
                                                                    {% if item.bidded %}Edit a bid{% else %}Place a bid{% endif %}
                                                                {% endif %}
                                                                
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab_myall" class="tab-pane fade" role="tabpanel">
                                    <div class="table-responsive mt-15 mb-15">
                                        <table id="dataTable3" class="table display table-hover mb-30">
                                            <thead>
                                                <tr>
                                                    <th width="3%">No</th>
                                                    <th width="5%">Status</th>
                                                    <th width="14%">Purpose</th>
                                                    <th width="25%">Description</th>
                                                    <th width="8%">Loan Amount</th>
                                                    <th width="8%">Loan Term</th>
                                                    <th width="6%">Currency</th>
                                                    <th width="8%">Income Amount</th>
                                                    <th width="8%">City</th>
                                                    <th width="10%">Created At</th>
                                                    <th width="5%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in my_award_loans %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>
                                                            {% if item.status == 0 %}
                                                                <span class="label label-info capitalize-font" style="display: inline-block;">Waiting<br>confirmation</span>
                                                            {% elif item.status == 1 %}
                                                                <span class="label label-warning capitalize-font">Declined</span>
                                                            {% elif item.status == 2 %}
                                                                <span class="label label-primary capitalize-font">Open</span>
                                                            {% elif item.status == 3 %}
                                                                <span class="label label-primary capitalize-font" style="display: inline-block;">Waiting<br>Acceptance</span>
                                                            {% elif item.status == 4 %}
                                                                <span class="label label-success capitalize-font">Completed</span>
                                                            {% elif item.status == 5 %}
                                                                <span class="label label-danger capitalize-font">Deleted</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ item.purpose }}</td>
                                                        <td>
                                                            {% if item.header|length > 100 %}
                                                                {{ item.header|slice:"0:100"|linebreaksbr }}... 
                                                            {% else %}
                                                                {{ item.header|linebreaksbr }}
                                                            {% endif %}
                                                        </td>
                                                        
                                                        <td>{{ item.loan_amount|intcomma }}</td>
                                                        <td>{{ item.loan_term }}</td>
                                                        <td>{{ item.currency }}</td>
                                                        <td>{{ item.income_amount|default_if_none:''|intcomma }}</td>
                                                        <td>{{ item.city }}</td>
                                                        <td>{{ item.created_at|date:'Y-m-d' }}</td>
                                                        <td>
                                                            <a href="{% url 'detail-loan' item.id %}" class="btn btn-success btn-xs btn-rounded"><span>Details...</span></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab_all" class="tab-pane fade" role="tabpanel">
                                    <div class="table-responsive mt-15 mb-15">
                                        <table id="dataTable2" class="table display table-hover mb-30">
                                            <thead>
                                                <tr>
                                                    <th width="3%">No</th>
                                                    <th width="5%">Status</th>
                                                    <th width="14%">Purpose</th>
                                                    <th width="25%">Description</th>
                                                    <th width="8%">Loan Amount</th>
                                                    <th width="8%">Loan Term</th>
                                                    <th width="6%">Currency</th>
                                                    <th width="8%">Income Amount</th>
                                                    <th width="8%">City</th>
                                                    <th width="10%">Created At</th>
                                                    <th width="5%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in all_loans %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>
                                                            {% if item.status == 0 %}
                                                                <span class="label label-info capitalize-font" style="display: inline-block;">Waiting<br>confirmation</span>
                                                            {% elif item.status == 1 %}
                                                                <span class="label label-warning capitalize-font">Declined</span>
                                                            {% elif item.status == 2 %}
                                                                <span class="label label-primary capitalize-font">Open</span>
                                                            {% elif item.status == 3 %}
                                                                <span class="label label-primary capitalize-font" style="display: inline-block;">Waiting<br>Acceptance</span>
                                                            {% elif item.status == 4 %}
                                                                <span class="label label-success capitalize-font">Completed</span>
                                                            {% elif item.status == 5 %}
                                                                <span class="label label-danger capitalize-font">Deleted</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ item.purpose }}</td>
                                                        <td>
                                                            {% if item.header|length > 100 %}
                                                                {{ item.header|slice:"0:100"|linebreaksbr }}... 
                                                            {% else %}
                                                                {{ item.header|linebreaksbr }}
                                                            {% endif %}
                                                        </td>
                                                        
                                                        <td>{{ item.loan_amount|intcomma }}</td>
                                                        <td>{{ item.loan_term }}</td>
                                                        <td>{{ item.currency }}</td>
                                                        <td>{{ item.income_amount|default_if_none:''|intcomma }}</td>
                                                        <td>{{ item.city }}</td>
                                                        <td>{{ item.created_at|date:'Y-m-d' }}</td>
                                                        <td>
                                                            <a href="{% url 'detail-loan' item.id %}" class="btn btn-success btn-xs btn-rounded"><span>Details...</span></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
    
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $('#dataTable1').DataTable();
    $('#dataTableAward').DataTable();
    $('#dataTable2').DataTable();
    $('#dataTable3').DataTable();
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($.fn.dataTable.tables(true)).DataTable()
           .columns.adjust();
    });
</script>
{% endblock %}
