{% extends 'base_auth.html' %}
{% load static %}
{% load i18n %}
{% block content %}
	<div class="page-wrapper pa-0 ma-0 auth-page">
		<div class="container">
			<!-- Row -->
			<div class="table-struct full-width full-height">
				<div class="table-cell vertical-align-middle auth-form-wrap">
					<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="sp-logo-wrap text-center pa-0 mb-10">
									<a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" style="width: 70%;"/></a>
								</div>
								<div class="mb-20">
									<h4 class="text-center txt-dark mb-20">Need help with your password?</h4>
									<h6 class="text-center txt-grey nonecase-font">{% blocktrans %}Specify your email to send you the instructions for password recovery.{% endblocktrans %}</h6>
								</div>	
								<div class="form-wrap">
									<form action="." id="forgot_password" method="POST" data-toggle="validator" role="form">
										{% csrf_token %}
										<div style="display:none">
											<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
										</div>
										<div class="form-group">
											<label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
											<input type="email" class="form-control" required="" id="email" name="email" placeholder="Enter email">
										</div>
										
										<div class="form-group text-center mb-95 mt-50 ma-30 pb-50">
											<button type="submit" class="btn btn-danger btn-rounded btn-block">Reset</button>
										</div>
									</form>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<!-- /Row -->	
		</div>
		
	</div>

{% endblock %}	